@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This app was created in Visual Studio 2019 by following 
    <a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started">this tutorial</a>, 
    with additional modifications to the default files (such as the revisions to this page) to personalize the app.
</p>
