@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/laura-moon/">https://www.linkedin.com/in/laura-moon/</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/lauramoon">https://github.com/lauramoon</a><br />
    <strong>Selection of Projects:</strong> <a href="https://lauramoon.github.io/webpage/">https://lauramoon.github.io/webpage/</a><br />
</p>