@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET was used to create this web app. Chesk out the movie list:</p>
    <p>@Html.ActionLink("Movies »", "Index", "Movies", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Over on the movies page, you can see a list of movies.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Add movies</h2>
        <p>You can add your own movie to the list, if you like.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Edit and Delete, too!</h2>
        <p>Nothing will stop you from editing or deleting a movie.</p>
    </div>
</div>